<div class="card bg-dark text-white" [formGroup]="form">
  <div class="card-body">
    <div class="mb-3">
      <label for="title" class="form-label">Title:</label>
      <input
        formControlName="title"
        type="text"
        class="form-control"
        id="title"
        placeholder="Enter a title..."
      />
    </div>
    <div class="mb-3">
      <label for="title" class="form-label">Description:</label>
      <input
        formControlName="description"
        type="text"
        class="form-control"
        id="title"
        placeholder="Enter a description..."
      />
    </div>
    <div class="mb-3 form-check">
      <input
        formControlName="completed"
        type="checkbox"
        class="form-check-input"
        id="completed"
      />
      <label class="form-check-label" for="completed">Completed?</label>
    </div>
  </div>
  <div class="card-footer text-center">
    <button type="button" class="btn btn-primary" (click)="createTask()">
      Create
    </button>
  </div>
</div>
