/* .button.play {
  border-style: solid;
  width: 15px;
  height: 15px;
  border-width: 10px 0px 10px 15px;
  border-color: transparent transparent transparent #202020;
} */

.button {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 15px;

  border-color: transparent transparent transparent white;
  cursor: pointer;

  border-style: solid;
  border-width: 10px 0px 10px 15px;
}

.button.play {
  height: 12px;
  border-width: 7px 0px 7px 10px;
  vertical-align: 4px;
}

.button.paused {
  border-style: double;
  border-width: 0px 0 0px 15px;
}

.button:hover {
  border-color: transparent transparent transparent #404040;
}

#task-card {
  min-height: 400px;
  max-height: 400px;
}

.responsive-content {
  max-height: 300px !important;
  overflow-y: auto !important;
}

.custom-margin {
  margin: -6px 0px 5px 0px;
}
